#rpgTable {
    border-collapse: collapse;
    width: 100%;
}

#rpgTable th, #rpgTable td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

#rpgTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#pagingButtons button.active {
    background-color: #4CAF50; /* Green background for the active page */
    color: white; /* White text color */
    border-radius: 5px; /* Rounded corners */
}

